<div class="rsvp-edit"
   rsvp-account-name="{{ account.name }}"
   rsvp-account-id="{{ account.pk }}"
   rsvp-meeting-id="{{ meeting.pk }}">
  <h2>RSVP</h2>
  <span id="rsvp.{{ account.pk }}.{{ meeting.pk }}">
    <div id="rsvp.{{ account.pk }}.{{ meeting.pk }}.accept"
       class="k-button" color-scheme="green"
       onclick="postRsvp('{{ account.name }}', '{{ account.pk }}', '{{ meeting.pk }}', 'Accept')">Yes
    </div><div id="rsvp.{{ account.pk }}.{{ meeting.pk }}.tentative"
       class="k-button" color-scheme="gray"
       onclick="postRsvp('{{ account.name }}', '{{ account.pk }}', '{{ meeting.pk }}', 'Tentative')">Maybe
    </div><div id="rsvp.{{ account.pk }}.{{ meeting.pk }}.decline"
       class="k-button" color-scheme="red"
       onclick="postRsvp('{{ account.name }}', '{{ account.pk }}', '{{ meeting.pk }}', 'Decline')">No
    </div>
  </span>
</div>
