{% extends "inner.html" %}
{% load i18n static dajaxice_templatetags compress common_tags permissions_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/jstree/style.min.css' %}">
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/update-doc-popup.css' %}">
  {% endcompress %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/folders.css' %}">
  {% endcompress %}
{% endblock extra_css %}

{% block extra_js %}
  <script src="{% static 'js/kendo.web.min.js' %}"></script>
  <script src="{% static 'js/jstree.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.11.4.custom.min.js' %}"></script>
  {% compress js %}
    <script src="{% static 'js/edit-docs-popup.js' %}"></script>
    <script src="{% static 'js/folders.js' %}"></script>
    <script src="{% static 'js/folders-lookup.js' %}"></script>
  {% endcompress %}
  <script type="text/javascript">
    var DOC_DELETE_URL = "{% url 'documents:delete' %}";
  </script>
{% endblock extra_js %}

{# Relocate user messages #}
{% block user_messages %}
{% endblock user_messages %}

{% block workspace %}
  <header class="heading">
    <div class="holder">
      <h2>{{ folder|folder_display_name:current_membership }}</h2>
    </div>
    {# <a class="btn" href="#"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; All Files</a> #}
  </header>

  {# Breadcrumbs #}
  <div class="subheader heading">
    <ul class="breadcrumbs">
      <li><a href="{% acc_url 'folders:rootfolder_detail' %}">{% trans 'Documents' %}</a></li>
      {# Special breadcrumbs if members private folder #}
      {% if membership_ancestor %}
        {% for ancestor in folder.get_ancestors|slice:"2:" %}
          <li><a href="{{ ancestor.get_absolute_url }}">{{ ancestor|folder_display_name:current_membership }}</a></li>
        {% endfor %}
        <li>{{ folder|folder_display_name:current_membership }}</li>
      {% else %}
        {% for ancestor in folder.get_ancestors|slice:"1:" %}
          <li><a href="{{ ancestor.get_absolute_url }}">{{ ancestor|folder_display_name:current_membership }}</a></li>
        {% endfor %}
        {% if not folder.is_account_root %}
          <li>{{ folder|folder_display_name:current_membership }}</li>
        {% endif %}
      {% endif %}
    </ul>

    {# Actions #}
    {% if folder.meeting %}
      <a href="{{ folder.meeting.get_absolute_url }}" class="btn newfolder">{% trans 'Meeting Page' %}</a>
    {% endif %}
    {% has_permission 'documents.folder' 'add' folder as permission_add %}
    {% if permission_add %}
      {% if folder.can_add_folders %}
        <a class="btn newfolder" href="#" id="add-folder"><i class="fa fa-plus-circle"></i>&nbsp; {% trans 'New Folder' %}</a>
      {% endif %}
      {% if folder.can_add_files %}
        <a class="btn" href="{% acc_url 'folders:document_add' slug=folder.slug %}" style="margin-right:0px;"><i class="fa fa-upload"></i>&nbsp; {% trans 'Upload File' %}</a>
      {% endif %}
      <a class="btn" id="sort" href="#"  title="{% trans 'Sort By' %}"><i class="fa fa-sort"></i></a>
    {% else %}
      <a class="btn" id="sort" href="#" title="{% trans 'Sort By' %}" style="margin-right:20px;" ><i class="fa fa-sort"></i></a>
    {% endif %}

    {# Ordering #}
    <div class="sortingLinks" >
      <span class="title">{% trans 'Sort By' %}</span>
      {% if ordering == '-name' %}
        <a class="active" href="?o=name"><i class="fa fa-sort-down"></i>&nbsp; {% trans 'Name' %}</a>
      {% elif ordering == 'name' %}
        <a class="active" href="?o=-name"><i class="fa fa-sort-up"></i>&nbsp; {% trans 'Name' %}</a>
      {% else %}
        <a  href="?o=-name"><i class="fa"></i>&nbsp;&nbsp; {% trans 'Name' %}</a>
      {% endif %}
      {% if ordering == '-date' %}
        <a class="active" href="?o=date"><i class="fa fa-sort-down"></i>&nbsp; {% trans 'Date' %}</a>
      {% elif ordering == 'date' %}
        <a class="active" href="?o=-date"><i class="fa fa-sort-up"></i>&nbsp; {% trans 'Date' %}</a>
      {% else %}
        <a href="?o=-date"><i class="fa"></i>&nbsp;&nbsp; {% trans 'Date' %}</a>
      {% endif %}
    </div>
  </div>

  {# All Items #}
  <ul class="upcoming-meetings folder-items">
    {% for item in items %}
      {% if item.is_folder %}
        {% has_permission 'documents.folder' 'edit' item as permission_edit %}
        {% has_permission 'documents.folder' 'delete' item as permission_delete %}
        <li>
          <ul class="inner">
            <li>
              <a href="{{ item.get_absolute_url }}" class="list-folder-new"><i class="fa fa-folder"></i></a>
            </li>
            <li>
              <a href="{{ item.get_absolute_url }}"><strong>{{ item|folder_display_name:current_membership }}</strong></a>
            </li>
            <li style="color:#969696">
              {{ item.sort_date }}{% if item.user %} | {% trans 'By' %} {{ item.user.get_full_name }}{% endif %}
            </li>
            <li class="innerlinks">
              {# Edit #}
              {% if item.protected %}
                <span class="dummy-link"><i class="fa fa-shield"></i></span>
              {% elif permission_edit or permission_delete %}
                {% if permission_edit %}
                  <a href="#" title="Edit" class="edit-folder-link" data-form-action="{% acc_url 'folders:folder_edit' slug=item.slug %}" data-folder-name="{{ item.name }}"><i class="fa fa-pencil"></i> </a>
                {% endif %}
                {# Submenu #}
                <a href="#" class="sublinks">
                  <i class="fa fa-ellipsis-v"></i>
                  <div class="sublinkslist">
                    {# Move #}
                    {% if permission_edit %}
                      <div><a href="javascript:void(0)" data-folder-slug="{{ item.slug }}" data-doc-type="{{ item.type }}" class="move-folder-link"><i class="fa fa-folder-open"></i>&nbsp; {% trans "Move" %}</a></div>
                    {% endif %}
                    {# Delete #}
                    {% if permission_delete %}
                      <div><a href="{% acc_url 'folders:folder_delete' slug=item.slug %}" class="delete-folder-link"><i class="fa fa-trash"></i>&nbsp; Delete</a></div>
                    {% endif %}
                  </div>
                </a>
              {% endif %}
            </li>
          </ul>
        </li>
      {% elif item.is_file %}
        {% has_permission 'documents.document' 'edit' item as permission_edit %}
        {% has_permission 'documents.document' 'delete' item as permission_delete %}
        <li>
          <ul class="inner">
            <li>
              <a href="{% if item.extension == 'pdf' %}/static/pdfviewer/web/viewer.html?file={{ item.get_download_url }}{% else %}{{ item.get_download_url }}{% endif %}" class="list-folder-new {{item.extension}}">
                <i class="fa fa-file-{{ item.file_type }}-o"></i>
              </a>
            </li>
            <li>
              <a href="{% if item.extension == 'pdf' %}/static/pdfviewer/web/viewer.html?file={{ item.get_download_url }}{% else %}{{ item.get_download_url }}{% endif %}"><strong>{{ item }}</strong></a>
            </li>
            <li style="color:#969696">
              {% if not item.revisions %}
                {% trans 'Version' %} 1 | {{ item.created_at }} | {% trans 'By' %} {{ item.user.get_full_name }}
              {% else %}
                {% trans 'Version' %} {{ item.revisions.count|add:"1" }} | {{ item.created_at }} | {% trans 'By' %} {{ item.user.get_full_name }}
              {% endif %}
              {% for revision in item.revisions %}
                <div style="clear:both; line-height:5px; height:5px;"></div>
                {% trans 'Version' %} {{ forloop.revcounter }} | {{ item.created_at }} | {% trans 'By' %} {{ revision.user.get_full_name }}&nbsp; <a href="{{ revision.get_download_url }}"><i class="fa fa-download" style="color:#969696"></i></a>
              {% endfor %}
            </li>
            <li class="innerlinks">
              {# Edit #}
              {% if permission_edit %}
                <a class="edit edit-in-popup" href="#" title="Edit" data-doc-filename="{{ item.name|default:item.filename }}" data-doc-id="{{ item.id }}" data-doc-type="{{ item.type }}">
                  <i class="fa fa-pencil"></i>
                </a>
              {% endif %}
              {# Download, delete #}
              <a href="#" class="sublinks"><i class="fa fa-ellipsis-v"></i>
                <div class="sublinkslist">
                  <div><a href="{{ item.get_download_url }}" data-doc-id="{{ item.id }}" data-doc-type="{{ item.type }}"><i class="fa fa-download"></i>&nbsp; {% trans "Download" %}</a></div>
                  {% if folder.can_add_folders and permission_edit %}
                    <div><a href="javascript:void(0)" data-doc-id="{{ item.id }}" data-doc-type="{{ item.type }}" class="move-document-link"><i class="fa fa-folder-open"></i>&nbsp; {% trans "Move" %}</a></div>
                  {% endif %}
                  {% if permission_delete %}
                    <hr>
                    <div><a class="delete-doc-link" data-doc-id="{{ item.id }}" href="#"><i class="fa fa-trash"></i>&nbsp; {% trans "Delete" %}</a></div>
                  {% endif %}
                </div>
              </a>
            </li>
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {# User messages #}
  <div class="folder-messages">
    {% for message in messages %}
      <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
    <div class="message error">
    </div>
  </div>

  <input type="hidden" id="current-folder-slug" value="{{ folder.slug }}"/>

  {# Dialogs #}
  {% include 'documents/includes/folder_forms.html' %}
  {% include 'doc_upd_popup.html' %}
  <script id="delete-confirmation" type="text/x-kendo-template">
    <p class="delete-message">{% trans 'Are you sure you want to delete this document' %}?</p>
    <div class="confirmation-buttons">
      <button class="delete-confirm k-button">{% trans 'Yes' %}</button>
      <button class="delete-cancel k-button">{% trans 'No' %}</button>
    </div>
  </script>
  <script id="delete-folder-confirmation" type="text/x-kendo-template">
    <p class="delete-message">{% trans 'Are you sure you want to delete this folder with all associated folders and documents' %}?</p>
    <div class="confirmation-buttons">
      <button class="delete-confirm k-button">{% trans 'Yes' %}</button>
      <button class="delete-cancel k-button">{% trans 'No' %}</button>
    </div>
  </script>
{% endblock workspace %}
