/* Folder detail page */
#header {
    padding: 0 11px 0 0;
}
#content {
    padding: 0px;
}
#company {
    padding: 25px 0 0 20px;
}
.pdf i {
    color: #B60016;
}
.xlsx i {
    color: #1F7244;
}
.docx i {
    color: #2C5899;
}
.heading {
    background-color: #0089ca;
    color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 7px;
    color: #fff!important;
}
.subheader {
    background-color: #efefef;
    min-height: 25px;
    padding-top: 16px;
    padding-bottom: 6px;
}
.heading .holder {
    float: left;
}
.heading .holder h2 {
    float: none;
    text-transform: uppercase;
    font: 22px ProximaNova-Semibold, arial, helvetica, sans-serif;
    margin: 8px 0 12px;
    color: #fff!important;
}
.heading .btn {
    background-color: #0998DB;
    border-color: #068FD0;
    float: right;
    margin-right: 20px;
    background-image: none;
    padding: 0px 17px 0px 17px;
    font: normal 14px/38px arial, helvetica, sans-serif
}
ul.breadcrumbs {
    float: left;
    padding-top: 15px;
    font-size: 14px;
}
#sort {
    margin-right: 0px;
    margin-left: 10px;
    background-color: #fff;
    color: #333;
    border-color: #c9c9c9;
}
.heading .btn {
    background-color: #4c97d9;
    float: right;
    margin-right: 20px;
    background-image: none;
    padding: 0px 17px 0px 17px;
    margin-left: 10px;
    font: normal 14px/38px arial, helvetica, sans-serif;
}
.heading .btn.newfolder {
    background-color: #fff;
    color: #333;
    border-color: #c9c9c9;
}
.list-folder-new {
    color: #ffdc6b;
    background: none;
    font-size: 45px;
}
ul.folder-items li ul.inner li {
    float: left;
}
ul.folder-items li ul.inner li:nth-child(1) {
    margin-left: 20px;
    padding-bottom: 0px;
    padding-top: 4px;
    padding-right: 12px;
}
ul.folder-items li ul.inner li:nth-child(2) {
    width: 30%;
}
ul.folder-items li ul.inner li:nth-child(3) {
    width: 40%;
}
ul.folder-items li ul.inner li:nth-child(4) {
    float: right;
    margin-right: 2px;
}
ul.folder-items li {
    padding: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
}
ul.folder-items li ul.inner li {
    background-color: transparent;
    border-bottom: 0px;
    padding: 24px 20px 18px 0;
}
ul.folder-items li ul.inner li.innerlinks a:hover {
    text-decoration: none;
    color: #333;
}
ul.folder-items li ul.inner li.innerlinks a {
    font-size: 15px;
    color: #787878;
    padding-left: 20px;
}
ul.folder-items li ul.inner li.innerlinks .dummy-link {
    font-size: 15px;
    color: #787878;
    padding-left: 20px;
}

div.sublinkslist {
    display: none;
    background-color: #fff;
    position: absolute;
    right: 10px;
    padding: 5px;
    border: 1px solid #c9c9c9;
    z-index: 999;
}
div.sublinkslist a {
    clear: both;
    padding-left: 3px!important;
    clear: both;
    display: block;
    margin-bottom: 10px;
}
li.revisions {
    width: 100%;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
li.revisions ul {
    padding: 0px;
    padding-left: 20px;
}
li.revisions ul li {
    padding-top: 3px!important;
    padding-bottom: 3px!important;
}
li.revisions ul,
li.revisions ul li {
    width: 100%!important;
}
div.sortingLinks {
    display: none;
    position: absolute;
    width: 100px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    float: right;
    top: 130px;
}
div.sortingLinks a {
    color: #787878;
    display: block;
    font-weight: bold;
    padding: 12px 12px 11px 12px;
    border-color: #c9c9c9;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}
div.sortingLinks a:last-child {
    border-width: 0px;
}
div.sortingLinks a:hover {
    color: #333;
    text-decoration: none;
}
div.sortingLinks a.active {
    color: #0089ca;
    font-weight: bold;
}
div.sortingLinks .title {
    color: #000;
    display: block;
    font-weight: bold;
    padding: 12px 12px 11px 12px;
    border-color: #c9c9c9;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}
div.folder-messages {
    padding: 0px 0px 5px 20px;
    margin-top: 40px;
}

/* New Folder templates */
.add-folder-popup {
    visibility: hidden;
}
.edit-folder-popup {
    visibility: hidden;
}
.update-archive-popup {
    visibility: hidden;
}

.folder-form .form-group {
    padding: 20px;
}
.folder-form .form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    font-weight: bold;
    color: #505050;
    font-size: 12px;
}
.folder-form .form-group input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #505050;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.folder-icon {
    color: #ffdc6b;
}

.move-folder-form {
    padding: 10px 20px;
}

.lookup-folder-children-target {
    height: 250px;
    overflow-y: auto;
}

.move-folder-title {
    font-weight: bold;
    color: #505050;
    margin-bottom: 12px;
}