{% load i18n static %}

{% block extra_css %}
  {{ super }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

<ul class="upcoming-meetings">
  {% for meeting in meetings %}
    <li>
      {% if not meeting.is_event %}
        <div class="meeting-docs">
          {% if meeting.get_other_docs %}
            {% for doc in meeting.get_other_docs %}
              <span class="download {{ doc.extension }} hit-first">
                <a href="{{ doc.get_download_url }}">{{ doc.name|default:doc.filename }}</a>
                {% if doc.get_viewer_link %}
                  <div><i class="fa fa-search"></i> <a href="{{ doc.get_viewer_url }}" target="_blank">{% trans 'View' %}</a></div>
                {% endif %}
              </span>
            {% endfor %}
          {% endif %}

          {% if meeting.get_minutes %}
            <span class="download {{ meeting.get_minutes.extension }} hit-first">
              <a href="{{ meeting.get_minutes.get_download_url }}">{% trans 'Meeting Minutes' %}</a>
              {% if meeting.get_viewer_link %}
                <div><i class="fa fa-search"></i> <a href="{{ meeting.get_minutes.get_viewer_url }}" target="_blank">{% trans 'View' %}</a></div>
              {% endif %}
            </span>
          {% else %}
            <span class="download {{ meeting.get_minutes.extension }} grayscale">{% trans 'Minutes Not Available' %}</span>
          {% endif %}

          {% if meeting.get_agenda %}
            <span class="download {{ meeting.get_agenda.extension }} hit-first">
              <a href="{{ meeting.get_agenda.get_download_url }}">{% trans 'Meeting Agenda' %}</a>
              {% if meeting.get_viewer_link %}
                <div><i class="fa fa-search"></i> <a href="{{ meeting.get_agenda.get_viewer_url }}" target="_blank">{% trans 'View' %}</a></div>
              {% endif %}
            </span>
          {% else %}
            <span class="download {{ meeting.get_agenda.extension }} grayscale">{% trans 'Agenda Not Available' %}</span>
          {% endif %}
        </div>
      {% endif %}
      <div class="meeting-content">
        <h3><a href="{{ meeting.get_absolute_url }}">
          {{ meeting.get_committee_name }}
          {% if meeting.is_event %}{% trans 'Event' %}{% else %}{% trans 'Meeting' %}{% endif %}
          ({{ meeting.start|date:"N j, Y" }})
          {% if not meeting.is_published %}<span class="draft-meeting-label">{% trans 'draft' %}</span>{% endif %}
        </a></h3>
        <dl>
          <dt>{% trans 'TITLE' %}:</dt>
          <dd>{{ meeting.name }}</dd>
          <dt>{% trans 'DATE' %}:</dt>
          <dd class="date">{{ meeting.start|date:"N j, Y" }}</dd>
          <dt>{% trans 'TIME' %}:</dt>
          <dd>{{ meeting.start|date:"g:i a" }} &ndash; {{ meeting.end|date:"g:i a" }}</dd>
          <dt>{% trans 'LOCATION' %}:</dt>
          <dd><a href="https://maps.google.com/?q={{ meeting.location }}">{{ meeting.location }}</a></dd>
        </dl>
      </div>
    </li>
  {% endfor %}
</ul>
