{% extends "inner.html" %}
{% load i18n %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/jquery.maskedinput.min.js"></script>
  <script src="{{ STATIC_URL }}js/kendo.web.min.js"></script>
  <script src="{{ STATIC_URL }}js/billing.js"></script>

{% endblock extra_js %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<style>
  .message{display:none!important;}
  .submit-message{ display:block!important;font-size:16px;text-align:center;}
  h1, h2, h3, p, label, .creditcard-info label, .txt,.billing-form .submit,  .submit, .message{
    font-family: 'Lato', sans-serif;
  }
  h2{
    font-weight:400;
    font-size:18px;
  }
  header.heading {
    text-align:center;
    padding-bottom:40px;
  }

  header.heading h1{

    font-weight:900;
    font-size:32px;
  }
  header.heading p{
    margin-top:10px;
    font-size:15px;
    font-weight:300;
  }
  header.heading p span{
    color:#D956A2;
    font-weight:700;

  }
  div#billing_information, div#payment_method, div#billing_cycle, div#change_plan  {
    border-top:1px solid #e6e6e6;
    margin-bottom:40px;

  }
  div#billing_information h1, div#payment_method h1, div#billing_cycle h1, div#change_plan h1{
    text-align:center;
    font-size:30px;
    font-weight:400;
    margin-top:40px;
    margin-bottom:40px;
  }

  .fieldlist {

    padding: 20px;
    width:800px;
    margin:0px auto;
    margin-bottom:20px;

  }
  span.star{
    color:red;
    margin-left:2px;
  }
  .fieldlist li {
    list-style: none;
    padding-bottom: 2em;
    width:43%;
    float:left;
    padding-left:10px;
    padding-right:10px;
  }
  .fieldlist li.full-width{
    width:91.5%;
  }
  .fieldlist label , .creditcard-info label{
    display: block;
    font-weight:400;
    padding-bottom: 0.7em;
    text-transform: uppercase;
    font-size: 13px;
    color: #444;
  }

  .billing-form .txt{
    width:95%;
    float:none;
    padding:9px 5px;
  }
  .billing-form .csv{
    width:30%;
    float:left;
  }
  .creditcard-info{
    float:none;
    width:770px;
    margin:0px auto;
    height:165px;
  }
  .creditcard-info .txt{
    width:197px;
  }
  div.promo-code{
    text-align:center;
  }
  div.promo-code p{
    font-size:14px;
    font-weight:300;
  }

  div.promo-code .txt{
    width:200px;
  }
  div#billing_cycle p{
    font-weight:300;
    font-size:18px;
    text-align:center;
  }
  div#billing_cycle div.billing-cycle-form{
    width:400px;
    margin:0px auto;
    margin-bottom:20px;
  }
  div.billing-cycle-form li{
    margin-bottom:10px;
  }
  div.billing-cycle-form label{
    font-size:14px;
    font-weight:400;
    margin-bottom:10px;
  }
  div#change_plan p{
    text-align:center;
    font-size:16px;
    font-weight:400;

  }
  div#change_plan p.plans{
    font-weight:300;
  }
  .optionsDivVisible ul{
    height:200px;
    overflow-y:scroll;
  }
</style>
{% endblock extra_css%}

{% block workspace %}
  <header class="heading">
    <h1>{% trans 'Billing & Payments' %}</h1>
    {% blocktrans with billing_plan=billing.account.plan next_pay_date=billing.account.get_next_pay_date|date:"N j, Y" last_invoice_created=billing.account.last_invoice_created|date:"N j, Y" %}
      <p>You have <span>{{ billing_plan }} Subscription</span></p><!-- from {{ last_invoice_created }} to {{ next_pay_date }}.</p>-->
    {% endblocktrans %}
  </header>
<form action=""  id="billing_form" class="billing-form" method="POST" data-role="validator" novalidate="novalidate">{% csrf_token %}
  <div id="billing_information">
    <h1>{% trans 'Your Billing Information' %}</h1>

      <ul class="fieldlist">
        <li>
          <label for="{{form.name.id_for_label}}">Name on Card<span class="star">*</span></label>
              {% if form.name.errors %}
                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ form.name.auto_id }}" role="alert">
                  <span class="k-icon k-warning"></span>
                  {{ form.name.errors.0 }}
                </span>
              {% endif %}

          {{form.name}}
        </li>
        <li>
          <label for="{{form.mail.id_for_label}}">Email<span class="star">*</span></label>
              {% if form.mail.errors %}
                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ form.mail.auto_id }}" role="alert">
                  <span class="k-icon k-warning"></span>
                  {{ form.mail.errors.0 }}
                </span>
              {% endif %}

          {{form.mail}}
        </li>

        <li class="full-width">
          <label for="{{form.address.id_for_label}}">Address<span class="star">*</span></label>
            {% if form.address.errors %}
              <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ form.address.auto_id }}" role="alert">
                <span class="k-icon k-warning"></span>
                  {{ form.address.errors.0 }}
              </span>
            {% endif %}

          {{form.address}}
        </li>

        <li>
          <label for="{{form.city.id_for_label}}">City<span class="star">*</span></label>
            {% if form.city.errors %}
              <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ form.city.auto_id }}" role="alert">
                <span class="k-icon k-warning"></span>
                  {{ form.city.errors.0 }}
              </span>
            {% endif %}
          {{form.city}}
        </li>

        <li>
          <label for="{{form.state.id_for_label}}">State<span class="star">*</span></label>
            {% if form.state.errors %}
              <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ form.state.auto_id }}" role="alert">
                <span class="k-icon k-warning"></span>
                  {{ form.state.errors.0 }}
              </span>
            {% endif %}
          {{form.state}}
        </li>

        <li>
          <label for="{{form.country.id_for_label}}">Country<span class="star">*</span></label>
            {% if form.country.errors %}
              <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ form.country.auto_id }}" role="alert">
                <span class="k-icon k-warning"></span>
                  {{ form.country.errors.0 }}
              </span>
            {% endif %}
          <select name="country" id="id_country" style="width:98%" >
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <option value="Brazil">Brazil</option>
            <option value="Brunei">Brunei</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cabo Verde">Cabo Verde</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Central African Republic (CAR)">Central African Republic (CAR)</option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
            <option value="Republic of the Congo">Republic of the Congo</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Cote d'Ivoire">Cote d'Ivoire</option>
            <option value="Croatia">Croatia</option>
            <option value="Cuba">Cuba</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Greece">Greece</option>
            <option value="Grenada">Grenada</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-Bissau">Guinea-Bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Honduras">Honduras</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Kosovo">Kosovo</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Laos">Laos</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libya">Libya</option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macedonia">Macedonia</option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
            <option value="Malta">Malta</option>
            <option value="Marshall Islands">Marshall Islands</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mexico">Mexico</option>
            <option value="Micronesia">Micronesia</option>
            <option value="Moldova">Moldova</option>
            <option value="Monaco">Monaco</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Montenegro">Montenegro</option>
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Myanmar (Burma)">Myanmar (Burma)</option>
            <option value="Namibia">Namibia</option>
            <option value="Nauru">Nauru</option>
            <option value="Nepal">Nepal</option>
            <option value="Netherlands">Netherlands</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="North Korea">North Korea</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Palau">Palau</option>
            <option value="Palestine">Palestine</option>
            <option value="Panama">Panama</option>
            <option value="Papua New Guinea">Papua New Guinea</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Qatar">Qatar</option>
            <option value="Romania">Romania</option>
            <option value="Russia">Russia</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
            <option value="Samoa">Samoa</option>
            <option value="San Marino">San Marino</option>
            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <option value="Seychelles">Seychelles</option>
            <option value="Sierra Leone">Sierra Leone</option>
            <option value="Singapore">Singapore</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Solomon Islands">Solomon Islands</option>
            <option value="Somalia">Somalia</option>
            <option value="South Africa">South Africa</option>
            <option value="South Korea">South Korea</option>
            <option value="South Sudan">South Sudan</option>
            <option value="Spain">Spain</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="Sudan">Sudan</option>
            <option value="Suriname">Suriname</option>
            <option value="Swaziland">Swaziland</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syria">Syria</option>
            <option value="Taiwan">Taiwan</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Tanzania">Tanzania</option>
            <option value="Thailand">Thailand</option>
            <option value="Timor-Leste">Timor-Leste</option>
            <option value="Togo">Togo</option>
            <option value="Tonga">Tonga</option>
            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Turkey">Turkey</option>
            <option value="Turkmen">Turkmen</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <option value="Tuvalu">Tuvalu</option>
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Arab Emirates (UAE)">United Arab Emirates (UAE)</option>
            <option value="United Kingdom (UK)">United Kingdom (UK)</option>
            <option value="United States of America (USA)" selected>United States of America (USA)</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Vanuatu">Vanuatu</option>
            <option value="Vatican City (Holy See)">Vatican City (Holy See)</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Vietnam">Vietnam</option>
            <option value="Yemen">Yemen</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
            </select>
        </li>

        <li>
          <label for="{{form.zip.id_for_label}}">Zip / Postal Code<span class="star">*</span></label>
          {% if form.zip.errors %}
              <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ form.zip.auto_id }}" role="alert">
                <span class="k-icon k-warning"></span>
                  {{ form.zip.errors.0 }}
              </span>
            {% endif %}
          {{form.zip}}
        </li>
      </ul>

  </div>
<div style="clear:both;height:20px;line-height:20px"></div>
  <div id="payment_method">
    <h1>{% trans 'Your Payment Method' %}</h1>
        <div class="creditcard-info">
          <div class="number">
            {{ form.creditcardnumber.label_tag }}
            {% if form.creditcardnumber.errors %}
              <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ form.creditcardnumber.auto_id }}" role="alert">
                <span class="k-icon k-warning"></span>
                {{ form.creditcardnumber.errors.0 }}
              </span>
            {% endif %}
            {{ form.creditcardnumber }}
          </div>
          <div class="expiration">
            {{ form.monthpicker.label_tag }}
            {% if form.monthpicker.errors %}
              <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ form.monthpicker.auto_id }}" role="alert">
                <span class="k-icon k-warning"></span>
                {{ form.monthpicker.errors.0 }}
              </span>
            {% endif %}
            <div class="selects">
              {{ form.monthpicker }}
            </div>
          </div>
          <div class="csv">
            <label for="csv">CVV <a href="" id="what_this">(what&rsquo;s this?)</a></label>
            {% if form.cvv.errors %}
              <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ form.cvv.auto_id }}" role="alert">
                <span class="k-icon k-warning"></span>
                {{ form.cvv.errors.0 }}
              </span>
            {% endif %}
            {{ form.cvv }}
          </div>
          <ul class="cards">
            <li><img src="{{ STATIC_URL }}images/ico-visa.png" width="32" height="23" alt="Visa"></li>
            <li><img src="{{ STATIC_URL }}images/ico-mastercard.png" width="32" height="23" alt="MasterCard"></li>
            <li><img src="{{ STATIC_URL }}images/ico-amex.png" width="32" height="23" alt="American Express"></li>
          </ul>
        </div>

      <div style="clear:both;height:20px;line-height:20px"></div>
      <div class="promo-code">
        <h2>Promo Code</h2>
        <p>Got a promo code and looking for a place to enter it? Here: </p>
        {% if form.discount.errors %}
            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ form.discount.auto_id }}" role="alert">
              <span class="k-icon k-warning"></span>
              {{ form.discount.errors.0 }}
            </span>
          {% endif %}

        {{form.discount}}

    </div>
  </div>

  <div style="clear:both;height:20px;line-height:20px"></div>
  <div id="billing_cycle">
    <h1>Billing Cycle</h1>
    <p>
        {% blocktrans with charge=billing.account.get_next_pay_charge next_pay_date=billing.account.get_next_pay_date|date:"N j, Y" next_subscr_to=billing.account.next_subscr_up_to|date:"N j, Y" %}
          Your credit card will be charged of ${{ charge }}.00 USD on {{ next_pay_date}}.
        {% endblocktrans %}
    </p>

    <div class="billing-cycle-form">
          <div class="text">
          <ul class="radios">
            <li>
              {{ cycle_form.cycle.0.tag }}
              <label for="bill_0">{% trans 'Bill me every month for' %} ${{ billing.account.plan.month_price }}.00</label>
            </li>
            <li>
              {{ cycle_form.cycle.1.tag }}
              <label for="bill_1">{% trans 'Bill me every year for' %} ${{ billing.account.plan.year_price }}.00 {% trans 'and save' %} ${{ billing.account.plan.save_for_year }}.00 {% trans 'every year' %}</label>
            </li>
{#                        <li>#}
{#                            {{ cycle_form.cycle.2.tag }}#}
{#                            <label for="bill-years">{% trans 'Bill me every 2 years for' %} ${{ billing.account.plan.year_price|add:billing.account.plan.year_price }}.00 and save ${{ billing.account.plan.save_for_year|add:billing.account.plan.save_for_year }}.00 every 2 years</label>#}
{#                        </li>#}
          </ul>

    </div>
  </div>
    </div>

      {% if messages %}
        {% for message in messages %}
          <div class="message submit-message {% if message.tags %}{{ message.tags }}{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

<div style="width:100%;text-align:center;">

    <input type="submit" value="{% trans 'Save Billing' %}" class="submit" style="float:none;margin:0px auto;padding-left:10px;padding-right:10px;height:50px;width:130px;font-size:16px;font-weight:400;">
  </div>

</form>

<div style="clear:both;height:20px;line-height:20px"></div>

  <div id="change_plan">
    <h1>Change Your Plan</h1>
    <p>You currently have the <b>{{ billing.account.plan }} Plan</b> with</p>
    <p class="plans">{{ billing.account.plan.max_members_str }} Users | {{ billing.account.plan.max_storage_size }} Storage</p>
  </div>
  <div style="width:100%;text-align:center;">
    <div class="billing-form">
      <a class="submit" href="{% url 'billing:change_plan' %}{% if 'account_id' in request.GET %}?account_id={{ billing.account_id }}{% endif %}" style="background-color:#ED5564;border-color:#D8454D;float:none;margin:0px auto;padding-left:10px;padding-right:10px;height:50px;width:130px;font-size:16px;font-weight:400;">{% trans 'Change Plan' %}</a>
    </div>
  </div>


  <script id="cvv-information" type="text/x-kendo-template">
    <div class="cvv-info">
      <h3>{% trans 'Visa, Mastercard, Discover' %}</h3>
      <img src="{{ STATIC_URL }}images/cv_card.gif" alt="">
    </div>
    <div class="cvv-info">
      <h3>{% trans 'American Express' %}</h3>
      <img src="{{ STATIC_URL }}images/cv_amex_card.gif" alt="">
    </div>
  </script>
{% endblock workspace %}
