{% extends "inner.html" %}
{% load i18n %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/kendo.web.min.js"></script>
  <script src="{{ STATIC_URL }}js/committee.js"></script>
  <script src="{{ STATIC_URL }}js/documents.js"></script>
{% endblock extra_js %}

{% block workspace %}
  <header class="heading">
    <h2>{% trans 'Create a Committee' %}</h2>
  </header>
  <form method="post" enctype="multipart/form-data" class="createmeeting-form">{% csrf_token %}
    <ul>
      {% include 'form.html' %}
    </ul>
    <input type="submit" class="submit create-committee" value="{% trans 'Create Committee' %}">
  </form>
{% endblock workspace %}
