{% extends "inner.html" %}
{% load i18n user_tags common_tags permissions_tags %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/kendo.web.min.js"></script>
  <script src="{{ STATIC_URL }}js/object_delete.js"></script>
{% endblock extra_js %}

{% block workspace %}
  <ul class="breadcrumbs">
    <li><a href="{% acc_url 'committees:list' %}">{% trans 'Committees' %}</a></li>
    <li>{{ committee.name }}</li>
  </ul>
  <div class="content content-box">
    {% has_permission 'committees.committee' 'edit' committee as permission_edit %}
    {% if permission_edit %}
      <a class="btn edit edit_committee" href="{% acc_url 'committees:update' pk=committee.id %}">{% trans 'Edit Committee' %}</a>
    {% endif %}
    {% has_permission 'committees.committee' 'delete' news as permission_delete %}
    {% if permission_delete %}
      <a class="btn delete" href="{% acc_url 'committees:delete' pk=committee.id %}">{% trans 'Delete Committee' %}</a>
    {% endif %}
    <h2>{{ committee.name }}</h2>
    {% if permission_edit %}
      <div class="bar">
        <a href="{{ members_email }}" class="email-l" id="mail-to">Email this group...</a>
      </div>
    {% endif %}
    <div class="sections">
      {% with show_links=current_membership|has_role_permission:'profiles.membership:view' %}
        <div class="section">
          <h3>{% trans 'Committee Leadership' %}</h3>
          <ul class="committee-members">
            {% for man in chairman %}
              <li>
                {% if show_links %}
                  <a class="img" href="{{ man.get_absolute_url }}"><img src="{{ man|avatar:'120x90' }}" width="120" alt="{{ man }}"></a>
                  <span><a href="{{ man.get_absolute_url }}">{{ man.get_full_name }}</a>, {% trans 'Chairman' %}</span>
                {% else %}
                  <span class="img"><img src="{{ man|avatar:'120x90' }}" width="120" alt="{{ man }}"></span>
                  <span>{{ man.get_full_name }}, {% trans 'Chairman' %}</span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="section">
          <h3>{% trans 'Committee Members' %}</h3>
          <ul class="committee-members">
            {% for man in ordinary_members %}
              <li>
                {% if show_links %}
                  <a class="img" href="{{ man.get_absolute_url }}"><img src="{{ man|avatar:'120x90' }}" width="120" alt="{{ man }}"></a>
                  <span><a href="{{ man.get_absolute_url }}">{{ man.get_full_name }}</a></span>
                {% else %}
                  <span class="img"><img src="{{ man|avatar:'120x90' }}" width="120" alt="{{ man }}"></span>
                  <span>{{ man.get_full_name }}</span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endwith %}

      {% if committee.upcoming_meetings %}
        <div class="section">
          <h3>{% trans 'Upcoming Meetings' %}</h3>
          <ul class="list">
            {% for meeting in committee.upcoming_meetings %}
              <li><a href="{{ meeting.get_absolute_url }}">{{ meeting.start|date:"N j, Y, g:ia" }}&ndash;{{ meeting.end|date:"g:ia" }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if committee.past_meetings %}
        <div class="section">
          <h3>{% trans 'Past Minutes' %}</h3>
          <ul class="list">
            {% for meeting in committee.past_meetings %}
              {% if meeting.get_minutes %}
                <li><a class="{{ meeting.get_minutes.extension }}" href="{{ meeting.get_minutes.get_download_url }}">{{ meeting.start|date:"N j, Y" }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <p>{{ committee.description|safe }}</p>
  </div>
  <script id="delete-confirmation" type="text/x-kendo-template">
    <p class="delete-message">{% trans 'Are you sure you want to delete this committee with all associated meetings and documents' %}?</p>
    <div class="confirmation-buttons">
      <button class="delete-confirm k-button">{% trans 'Yes' %}</button>
      <button class="delete-cancel k-button">{% trans 'No' %}</button>
    </div>
  </script>
{% endblock workspace %}
